.headerContainer {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 50;
}

.logoContainer {
  margin-left: 2rem;
}

.nav {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
  position: relative;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
  padding: 0.5rem 0;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #212121;
  transition: width 0.3s;
}

.navLink.active .underline {
  width: 100%;
}

.btnContainer {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  gap: 1rem;
  margin-right: 2rem;
}

/* Dropdown Menu */
.menuButton {
  padding: 0;
  min-width: auto;
  color: inherit;
  background: transparent !important;
}

.menuButton:hover {
  background: transparent !important;
  box-shadow: none !important;
}
