.separator {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.separator-line {
  flex-grow: 1;
  height: 2px;
  background-color: #555; 
  border-radius: 1px;
}

.separator-text {
  padding: 0 0.75rem;
  color: #212121;
  font-size: 0.875rem; 
  font-weight: 500;
}
